<!DOCTYPE html>
<body>
  <div class="page-wrapper">
    <section class="header-10-sub v-center bg-midnight-blue">
      <div class="background">
        &nbsp;
      </div>
      <div>
        <div class="container">
          <div class="hero-unit">
            <h1>The Bakery <h1> 
            <p> We already found them all so you don't have to</p>
          </div>
            <p class="lead">Click here to Sign in or Sign up</p>
            <p class="lead">
               <%=link_to "Sign up", "#", class: "btn btn-default btn-lg btn-clear" %>
               <%=link_to "Sign in", "#", class: "btn btn-default btn-lg btn-clear" %>
            </p>
          </p>
      </div>
    </div>
    <a class="control-btn " href="#"><span class="glyphicon glyphicon-arrow-down"></span></a>
  </section>
